name: Build Gradle project

on:
  push:

jobs:
  build-gradle-project:
    runs-on: ubuntu-latest
    env:
      ALIAS: appsec
      KEYSTORE: keystore
      PASSWORD: ${{ secrets.PASSWORD }}
      CERTIFICATE: ppdt-certificate

    steps:
    - name: Checkout project sources
      uses: actions/checkout@v4

    - name: Install Graphviz to visualize trees
      run: sudo apt-get install -y graphviz

    - name: Setup Gradle
      uses: actions/setup-java@v4
      with:
        distribution: 'oracle'
        java-version: '17'
        cache: 'gradle'

    - name: Run Gradle Testing
      run: sh gradlew build

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  # This workflow uses actions that GitHub does not certify.
  # They are provided by a third-party and are governed by
  # separate terms of service, privacy policy, and support
  # documentation.

  # GitHub recommends pinning actions to a commit SHA.
  # To get a newer version, you will need to update the SHA.
  # You can also reference a tag or branch, but the action may change without warning.

  # https://github.com/docker/build-push-action

  # Only create a release on main branch, should update to adwise-fiu eventually.
  upload_dockerhub:
    if: github.repository == 'AndrewQuijano/Level-Site-PPDT' && github.ref == 'refs/heads/main'
    needs: [ build-gradle-project ]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project sources
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/ppdt:latest
